/* styling for input boxes */
.input-box {
  border-radius: 4px;
  border-style: solid;
  margin: 5px;
  text-align: center;
  width: 35px;
}
/* styling for green border */
.green-border {
  border: 2px solid green;
}
/* styling for red border */
.red-border {
  border: 2px solid red;
}
/* styling for resend button with disable */
.resend {
  color: blue;
}
.resend:disabled {
  color: rgb(72, 72, 232);
}
